

<div style="height: 100%;width: 100%;display: flex;align-items: center;justify-content: center;">
    <ps-button buttonKind="basic" buttonText="测试" (buttonClick)="buttonClick()"></ps-button>
    <ps-button buttonKind="simple" buttonText="测试" (buttonClick)="buttonClick()"></ps-button>
    <ps-button buttonText="测试" (buttonClick)="buttonClick()"></ps-button>
    <ps-button buttonKind="danger" buttonText="测试" (buttonClick)="buttonClick()"></ps-button>
    <ps-button buttonKind="success" buttonText="测试" (buttonClick)="buttonClick()"></ps-button>
    <ps-button buttonKind="warning" buttonText="测试" (buttonClick)="buttonClick()"></ps-button>
    <div style="height: 300px;width: 500px;">
        <ps-rotation [source]="rotationSource"></ps-rotation>
    </div>

</div>